@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

nav.navbar{/*Color del nav bar*/
	background-color: #1AAF28;
	border: none;
}
.navbar-default .navbar-brand {/*Color del titulo*/
    color: white;
    font-size: 200%;
    font-family: 'Lobster', cursive;
}
.navbar-default .navbar-nav > li > a { /*Color de links*/
    color: #D7DBDD;
    font-family: 'Lobster', cursive;
    font-size: 130%;
}
.navbar-default .navbar-nav > li > a:hover,/*Color de links puntero sobre ellos*/
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}
.navbar-default .navbar-nav > .active > a, /*Fondo de links puntero sobre ellos*/
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #76CB7E;
    font-family: 'Lobster', cursive;
}